/.idea/.idea.Top Down Shooter/.idea/dictionaries/LuizLLP.xml
/.idea/.idea.Top Down Shooter/.idea/.gitignore
/.idea/.idea.Top Down Shooter/.idea/encodings.xml
/.idea/.idea.Top Down Shooter/.idea/indexLayout.xml
/.idea/.idea.Top Down Shooter/.idea/vcs.xml
/.vs/Top Down Shooter/FileContentIndex/2cfab2f8-b25c-402f-98fd-dbb5d80a316e.vsidx
/.vs/Top Down Shooter/v17/.suo
/.vscode/settings.json
